:root{
  --primary-color: #FF7142;

}

*{
  margin: 0px;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}

.bg-primary-k{
  background-color: var(--primary-color);
}

.navbar-brand{
  font-weight: bold;
}

#fullpage{
  background-image: url('../img/portada.jpg');
  background-size: cover;
  background-position: bottom;
}

.section{
  background-color: rgba(255, 113, 66, 0.5);
}

h1{
  font-size: 40px;
  font-weight: bold;
  margin-top: -25px;
  margin-bottom: 25px;
}

.titulo-contenido{
  font-size: 24px;
}

.container-estrenos{
  background-color: #2e2e2e;
  color: #fcfcfc;
}

.container-padding{
  padding-top: 50px;
  padding-bottom: 75px;
}

h2{
  color: var(--primary-color);
  font-size: 32px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 50px;
}

.contenido{
  font-size: 20px;
}

.btn-simple{
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  padding: 10px 15px;
  margin: 15px;
}

.btn-relleno{
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 15px;
  margin: 15px;
}

.btn-simple:hover{
  box-shadow: 0px 0px 10px 2px #000;
  text-decoration: none;
  color: var(--primary-color);
}

.btn-relleno:hover{
  box-shadow: 0px 0px 10px 2px #000;
  text-decoration: none;
  color: #fff;
}

.margin-text{
  margin-top: 50px;
  margin-bottom: 50px;
}

.borde{
  border: solid var(--primary-color) 3px;
  padding: 25px;
}

.lax{
  font-size: 32px;
  font-weight: bold;
  color: #28a745;
}

.soft{
  font-size: 32px;
  font-weight: bold;
  color: rgb(60,60,150);
}

.blanco{
  color: white;
  font-size: 12px;
}

.victor{
  color: var(--primary-color);
}

footer{
  background-color: #111;
  padding: 25px;
}

@media (min-width: 768px) { 
  h1{
    font-size: 72px;
  }

  .titulo-contenido{
    font-size: 34px;
  }

  h2{
    font-size: 50px;
  }

  .lax{
    font-size: 48px;
  }

  .soft{
    font-size: 48px;
  }

  .blanco{
    font-size: 24px;
  }
  
}

/*Altura*/

@media (min-height: 400px) { 
  h1{
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

@media (min-height: 540px) { 
  h1{
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

